In [ ]:
import cx_Oracle
import getpass
import pandas as pd
import os
db = cx_Oracle.connect(os.environ.get("USER"),getpass.getpass(), "DB1P")

In [ ]:
ma_bygning = pd.read_sql("SELECT KOMMUNENR, ID, BYGNINGSTYPE, BYGNINGSSTATUS, BRUKSAREAL_TOTALT FROM POP_GAB.BYGG WHERE UTGAATT_DATO_SSB IS NULL AND KOMMUNENR = '3401' AND BYGNINGSTYPE IN ('161','162','163')", con=db)
ma_bygning

In [ ]:
byggdato = pd.read_sql("SELECT ID, TATTIBRUK_DATO FROM POP_GAB.BYGG WHERE UTGAATT_DATO_SSB IS NULL AND KOMMUNENR = '3401' AND BYGNINGSTYPE IN ('161','162','163')", con=db)
byggdato

In [ ]:
ma_bygning.to_csv('bygg_kongsvinger.csv', index = False)
byggdato.to_csv('byggdato_kongsvinger.csv', index = False)

In [ ]:
pd.read_csv('byggdato_kongsvinger.csv')